<navbar></navbar>
<div class="content">
  <div class="container">
    <div class="profile-box">
      <profile-menu></profile-menu>

      <div class="profile-right">
        <div class="title-pro">
          <span> Payment history</span>
        </div>
        <!-- <h4  class="left">Date Expire Vip: {{user.dateExpire | date}}</h4>
        <div class="row right">
          <div class="col-md-3">
            <a style="margin-bottom:10px;float:left" ui-sref="updateVip" class="btn btn-warning btn-lg btn-block">Upgrade plan</a>
          </div>
        </div> -->
        <div class="clear"></div>
        <div class="table-responsive">
          <table class="table-main">
            <tr>
              <th>Date</th>
              <th>Description</th>
              <th>Type</th>
              <th>Discount</th>
              <th>Total</th>
            </tr>
            <tr ng-repeat="order in orders">
              <td>{{order.createdAt | date}}</td>
              <td>{{order.description}}</td>
              <td>{{order.type}}</td>
              <td>
                <span ng-if="order.coupon">
                  {{order.coupon.discountType=='amount'?'$':''}}
                  {{order.coupon.discountValue}}
                  {{order.coupon.discountType=='percentage'?'%':''}}
                </span>
              </td>
              <td class="color-orange">{{order.totalPrice | price}}</td>
            </tr>

          </table>
        </div>
        <div ng-if="totalItems > itemsPerPage" class="paging">

      <uib-pagination  previous-text="Prev" items-per-page="itemsPerPage" num-pages="noOfPages" ng-change="pageChanged(currentPage)" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination>
    </div>
      </div>
    </div>
  </div>
</div>
<footer></footer>
