<navbar></navbar>
<div class="page-container">
   <backend-menu></backend-menu>
   <div class="page-content-wrapper">
      <div class="page-content">
         <div class="page-bar">
            <ul class="page-breadcrumb">
               <li>
                  <i class="fa fa-home"></i>
                  <a ui-sref="dashboard">Dashboard</a>
                  <i class="fa fa-angle-right"></i>
               </li>
               <li>
                  <a ui-sref='user' >User</a>
                  <i class="fa fa-angle-right"></i>
               </li>
               <li>
                  <a  >{{user.name}}</a>
               </li>
            </ul>
         </div>
         <h3 class="page-title">
            Management Products <small></small>
         </h3>
         <div class="row">
            <div class="col-md-12">
               <!-- BEGIN EXAMPLE TABLE PORTLET-->
              <div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-gift"></i>View {{user.name}}
							</div>
							<div class="tools">
								<a href="" class="collapse" data-original-title="" title="">
								</a>
								
							</div>
						</div>
						<div class="portlet-body form" style="display: block;">
							<form enctype="multipart/form-data"  name="form" ng-submit="submitForm(form,user.imageFullPath)" novalidate>
								<div class="form-body">
                  
									<div class="form-group">
										<label>Name</label>
										<input type="text" class="form-control" name="name" ng-model='user.name' required>
                  
                    <p class="help-block" ng-show="form.name.$error.required && submitted">
                    This field is required
                    </p>
									</div>
                  
                  <div class="form-group">
										<label>Image</label>
										<div class="photo-upload">
                      <img ng-show="form.file.$valid " ngf-thumbnail="user.imageFullPath" class="thumb"> 
              
                
              </div>
									</div>
                  
                  <div class="form-group">
										<label>Price</label>
                    <input type="text" class="form-control" required name="price" ng-model='user.price'>
                     <p class="help-block" ng-show="form.price.$error.required && submitted">
                    This field is required
                    </p>
									</div>
                  <div class="form-group">
										<label>Description</label>
                    <textarea class="form-control" rows='5' ng-model='user.description'></textarea>
									</div>
                  <div class="form-group">
										<label>Sort</label>
										<input type="text" class="form-control" ng-model='user.sort'> 
							  </div>
                <div class="form-group">
										<label>Status</label>
                    <select class='form-control'ng-model='user.status'>
                      <option value='active'>Active</option>
                      <option value='inactive'>Inactive</option>
                    </select>	
							  </div>
								</div>
                
								
							</form>
						</div>
					</div>
            </div>
         </div>
         <div class="clearfix">
         </div>
      </div>
   </div>
</div>
<footer></footer>