<navbar></navbar>
<div class="page-container">
   <backend-menu></backend-menu>
   <div class="page-content-wrapper">
      <div class="page-content">
         <div class="page-bar">
            <ul class="page-breadcrumb">
               <li>
                  <i class="fa fa-home"></i>
                  <a ui-sref="dashboard">Dashboard</a>
                  <i class="fa fa-angle-right"></i>
               </li>
               <li>
                  <a >Photo</a>
               </li>
            </ul>
         </div>
         <h3 class="page-title">
            Management Photos <small></small>
         </h3>
         <div class="row">
            <div class="col-md-12">
               <!-- BEGIN EXAMPLE TABLE PORTLET-->
               <div class="portlet box grey-cascade">
                  <div class="portlet-title">
                     <div class="caption">
                        <i class="fa fa-globe"></i>Bulk upload
                     </div>
                     <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title="">
                        </a>
                     </div>
                  </div>
                  <div class="portlet-body">
                    <div class="form-group select-model-box">
                      <label>Model Name</label>
                      <select ui-select2="select2Options" data-placeholder="Select Model" multiple class="form-control" ng-model="selectedPerformers"
                        ng-disabled="uploading" ng-change="findAlbums()">
                          <option ng-repeat="performer in performers" value="{{performer._id}}">{{performer.name}}</option>
                      </select>
                      <p class="help help-block">
                        Model for all photos below. Please select model first!
                      </p>
                    </div>
                    <div class="form-group select-model-box">
                      <label>Album</label>
                      <select ui-select2="select2Options" data-placeholder="Select model albums" multiple class="form-control"
                        ng-model="albumIds" ng-disabled="uploading">
                        <option ng-repeat="album in performersAlbums track by $index" value="{{album._id}}">{{album.name}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <div ngf-drop ngf-select="populateFile($files)" ng-model="fileSelect" class="drop-box"
                        ngf-drag-over-class="'dragover'" ngf-multiple="true"
                        accept="image/*"
                        ngf-pattern="'image/*'">Drop images here or click to upload</div>
                      <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                    </div>
                    <div class="form-group">
                      <label>Select files</label>
                      <input type="file" ngf-select="populateFile($files)" ng-model="fileSelect" ngf-multiple="true" ngf-pattern="'image/*'"
                        ngf-accept="'image/*'" ngf-max-size="20MB" />
                    </div>
                  </div>
               </div>
            </div>
            <div class="col-md-12" ng-repeat="file in files track by $index">
              <div class="row">
                <div class="col-md-2">
                  <img ngf-thumbnail="file" style="width:100%" />
                </div>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Name</label>
                        <input type="text" ng-model="file.data.name" class="form-control" />

                        <a href="#" class="btn btn-danger" ng-click="remove(file, $index)" ng-disabled="uploading">Remove</a>
                        <a href="#" class="btn btn-primary" ng-click="file.extra=true" ng-if="!file.extra">Show extra</a>
                        <a href="#" class="btn btn-primary" ng-click="file.extra=false" ng-if="file.extra">Hide extra</a>
                        <a href="#" class="btn btn-info" ng-show="file.uploading">Uploading...</a>
                        <a href="#" class="btn btn-info" ng-show="file.uploaded">Uploaded</a>
                      </div>
                    </div>

                    <div ng-show="file.extra">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>Description</label>
                          <textarea class="form-control" ng-model='file.data.description' ng-disabled="uploading"></textarea>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group select-model-box">
                          <label>Model Name</label>
                          <select ui-select2="select2Options" data-placeholder="Select Model" multiple class="form-control" ng-model="file.data.performer"
                            ng-change="findAlbums(file)" ng-disabled="uploading">
                              <option ng-repeat="performer in performers" value="{{performer._id}}">{{performer.name}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>Album</label>
                          <select ui-select2="select2Options" data-placeholder="Select model albums" multiple class="form-control"
                            ng-model="file.data.performerAlbumIds" ng-disabled="uploading">
                            <option ng-repeat="album in file.data.performersAlbums track by $index" value="{{album._id}}">{{album.name}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>Meta Keywords</label>
                          <input type="text" class="form-control" ng-model='file.data.metaKeywords' ng-disabled="uploading">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>Meta Title</label>
                          <input type="text" class="form-control" ng-model='file.data.metaTitle' ng-disabled="uploading">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>Meta Description</label>
                          <input type="text" class="form-control" ng-model='file.data.metaDescription' ng-disabled="uploading">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Sort</label>
                          <input type="text" class="form-control" ng-model='file.data.sort' ng-disabled="uploading">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Status</label>
                          <select class='form-control' ng-model='file.data.status' ng-disabled="uploading">
                            <option value='active'>Active</option>
                            <option value='inactive'>Inactive</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-offset-2 col-md-10" ng-show="files.length">
              <div class="form-actions" style="background-color: #ddd; margin-top: 10px;padding:10px">
                <button class="btn btn-default" ng-disabled="uploading" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary" ng-click="uploadAll()" ng-disabled="uploading">Upload all</button>
              </div>

              <p class="alert alert-info" ng-show="uploading">
                File is uploading, please wait. Do not reload page at this time.
              </p>
            </div>
         </div>
         <div class="clearfix"></div>
      </div>
   </div>
</div>
<footer></footer>
