node_modules
public
.tmp
.sass-cache
.idea
.tmpbackend
client/bower_components
client/uploads/files
client/uploads/images
backend/bower_components
dist
/server/config/local.env.js
npm-debug.log
coverage
/nbproject/private/
/xmember/nbproject/private/
/xmember2/nbproject/private/
/lms-cq/nbproject/private/
public
