<div class="login">
  <!-- BEGIN LOGO -->
  <div class="logo">
    <!-- <a href="index.html">
      <img ng-src="{{rootSetting.logoFullPath}}">
    </a> -->
  </div>
  <!-- END LOGO -->
  <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
  <div class="menu-toggler sidebar-toggler">
  </div>
  <div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form form" name="form" ng-submit="login(form)" novalidate>
      <h3 class="form-title">Login to your account</h3>
      <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        <span>
          Enter any username and password. </span>
      </div>
      <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Username</label>
        <div class="input-icon">
          <i class="fa fa-user"></i>
          <input class="form-control placeholder-no-fix" ng-model="user.email" required type="text" autocomplete="off" placeholder="Email" name="email" ng-keydown="$event.keyCode === 13 && login(form)" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        <div class="input-icon">
          <i class="fa fa-lock"></i>
          <input class="form-control placeholder-no-fix" ng-model="user.password" required type="password" autocomplete="off" placeholder="Password" name="password" ng-keydown="$event.keyCode === 13 && login(form)" />
        </div>
      </div>
      <div class="form-actions">
        <label class="checkbox">
          <input type="checkbox" name="remember" ng-model="user.rememberMe" /> Remember me </label>
        <button type="submit" class="btn green-haze pull-right">
          Login <i class="m-icon-swapright m-icon-white"></i>
        </button>
      </div>
      <div class="form-group has-error">
        <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
          Please enter your email and password.
        </p>
        <p class="help-block" ng-show="form.email.$error.email && submitted">
          Please enter a valid email.
        </p>

        <p class="help-block">{{ errors.other }}</p>
      </div>
      <!--		<div class="forget-password">
			<h4>Forgot your password ?</h4>
			<p>
				 no worries, click <a ui-sref="forgot" id="forget-password">
				here </a>
				to reset your password.
			</p>
		</div>-->

    </form>
    <!-- END LOGIN FORM -->
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <form class="forget-form" action="index.html" method="post">
      <h3>Forget Password ?</h3>
      <p>
        Enter your e-mail address below to reset your password.
      </p>
      <div class="form-group">
        <div class="input-icon">
          <i class="fa fa-envelope"></i>
          <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
        </div>
      </div>
      <div class="form-actions">
        <button type="button" id="back-btn" class="btn">
          <i class="m-icon-swapleft"></i> Back </button>
        <button type="submit" class="btn green-haze pull-right">
          Submit <i class="m-icon-swapright m-icon-white"></i>
        </button>
      </div>
    </form>
    <!-- END FORGOT PASSWORD FORM -->

  </div>

</div>