<navbar></navbar>
<div class="page-container">
   <backend-menu></backend-menu>
   <div class="page-content-wrapper">
      <div class="page-content">
         <div class="page-bar">
            <ul class="page-breadcrumb">
               <li>
                  <i class="fa fa-home"></i>
                  <a ui-sref="dashboard">Dashboard</a>
                  <i class="fa fa-angle-right"></i>
               </li>
               <li>
                  <a >Subscribers</a>
               </li>
            </ul>
         </div>
         <h3 class="page-title">
            Management Subscribers<small></small>
         </h3>
         <div class="row">
            <div class="col-md-12">
               <!-- BEGIN EXAMPLE TABLE PORTLET-->
               <div class="portlet box grey-cascade">
                  <div class="portlet-title">
                     <div class="caption">
                        <i class="fa fa-globe"></i>Subscribers List
                     </div>
                     <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title="">
                        </a>
                     </div>
                  </div>
                  <div class="portlet-body">
                    <form ng-submit="loadData(currentPage)" name="form">
                     <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
                        <div  class="row mar-btt-25">
                          <div class="col-md-6 col-sm-12">
                            <div class="btn btn-warning" ui-sref="subscriberCreate"><i class="fa fa-pencil"></i> Create new</div>
                          </div>
                           <div class="col-md-6 col-sm-12">
                              <div>
                                 <label style="width:40%">Search Performer
                                    <input type="text" ng-model="performerSelected" placeholder="Search model" typeahead-editable="false"
                                    uib-typeahead="performer as performer.name for performer in searchPerformer($viewValue)"
                                    ng-model-options="selectPerformerOptions" typeahead-template-url="customTemplateSearchPerformer.html" typeahead-loading="loadingPerformers"
                                    typeahead-no-results="noResults" class="form-control">
                                    <i ng-show="loadingPerformers" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                      <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                               </label>
                               <input type="submit" style="border:1px solid #ccc;background:#1caf9a;" value="Search"/>
                              </div>
                           </div>
                        </div>
                        <div class="table-scrollable">
                           <table class="table table-striped table-bordered table-hover dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
                              <thead>
                                 <tr role="row">
                                   <th style='width:8%;'></th>
                                   <th class="text-center" style='width:15%;'>
                                      User
                                   </th>
                                    <!-- <th class="text-center" style='width:15%;'>
                                      Price
                                    </th> -->
                                    <th class="text-center" style='width:15%;'>
                                      Subscription Type
                                    </th>
                                    <th class="text-center" style='width:15%;'>
                                      Expire Date
                                    </th>
                                    <th style='width:7%;' class="text-center" rowspan="1" colspan="1">
                                       Action
                                    </th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr ng-repeat="subscriber in subscribers" class="gradeX odd" role="row">
                                   <td class="text-center">
                                     <img ng-src="{{subscriber.imageThumbPath | checkAvatar}}" style="width:45px"/>
                                   </td>
                                    <td class="text-center">
                                       {{subscriber.name}}
                                    </td>
                                    <!-- <td class="text-center">
                                        ${{subscriber.subscription.price}}
                                    </td> -->
                                    <td class="text-center">
                                        {{subscriber.subscription.subscriptionType}}
                                    </td>
                                    <td class="text-center">
                                        {{subscriber.subscription.expiredDate | date}}
                                    </td>
                                    <td class="text-center">
                                      <!-- <a ng-click="changePaid(updatePaiddaterange.performerId = subscriber.performerId)"  class="view" title="Edit">
                                        <i class="icon-pencil"></i>
                                      </a> -->
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                        <div class="row">
                           <div class="col-md-5 col-sm-12">
                              <div  class="dataTables_info" id="sample_1_info" role="status" aria-live="polite">
                               {{totalItems}} items
                              </div>
                           </div>
                           <div class="col-md-7 col-sm-12">
                              <div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate">

                                <div class="paging">
                                  <uib-pagination previous-text="Prev" items-per-page="query.take" num-pages="noOfPages" ng-change="pageChanged(query.page)" total-items="totalItems" ng-model="query.page" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination>
                              </div>
                              </div>
                           </div>
                        </div>
                     </div>
                   </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="clearfix">
         </div>
      </div>
   </div>
</div>
<footer></footer>
<script type="text/ng-template" id="customTemplateSearchPerformer.html">
  <a>
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>
