<div class="row">
  <h3 class="abl-ttl">{{title}}</h3>
    <form name="form" ng-submit="submit(form)" novalidate>
      <div class="col-md-12">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" name="name" ng-model='item.title' required>

          <p class="help-block" ng-show="form.name.$error.required && form.$submitted">
            This field is required
          </p>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" ng-model="item.description"></textarea>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="form-group">
          <label>Date range</label>
          <input date-range-picker class="form-control date-picker" type="text"
                           ng-model="rangeDate" options="opts" />
        </div>
      </div>

      <div class="col-md-12">
        <a ng-click="cancel()" class="btn btn-default">Cancel</a>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
</div>
