<navbar></navbar>
<div class="page-container">
   <backend-menu></backend-menu>
   <div class="page-content-wrapper">
      <div class="page-content">
         <div class="page-bar">
            <ul class="page-breadcrumb">
               <li>
                  <i class="fa fa-home"></i>
                  <a ui-sref="dashboard">Dashboard</a>
                  <i class="fa fa-angle-right"></i>
               </li>
               <li>
                  <a >Video</a>
               </li>
            </ul>
         </div>
         <h3 class="page-title">
            Management Videos <small></small>
         </h3>
         <div class="row">
            <div class="col-md-12">
               <!-- BEGIN EXAMPLE TABLE PORTLET-->
               <div class="portlet box grey-cascade">
                  <div class="portlet-title">
                     <div class="caption">
                        <i class="fa fa-globe"></i>Videos List
                     </div>
                     <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title="">
                        </a>
                     </div>
                  </div>
                  <div class="portlet-body">
                     <div class="table-toolbar">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="btn-group">
                                 <a ui-sref='videoAdd'  id="sample_editable_1_new" class="btn green">
                                 Add New <i class="fa fa-plus"></i>
                                 </a>
                              </div>
                              <div class="btn-group">
                                 <a ui-sref='videoBulkUpload' class="btn green">
                                 Bulk upload <i class="fa fa-plus"></i>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
                        <div  class="row">
                           <div  class="col-md-6 col-sm-12">
                              <div class="dataTables_length" id="sample_1_length">
                                 <label>

                                    <select ng-model="query.type" ng-change="pageChanged(1)" name="type" class="form-control input-large input-inline">
                                      <option value="">Select Type</option>
                                       <option value="recent">Recent</option>
                                       <option value="upcoming">Upcoming</option>
                                    </select>

                                 </label>
                              </div>
                           </div>
                           <div class="col-md-6 col-sm-12 pull-right">
                              <div id="sample_1_filter" class="dataTables_filter">
                                 <label>Search: <input type="search" ng-model="query.keyword" class="form-control  input-inline" placeholder="" aria-controls="sample_1"></label>
                              </div>
                           </div>
                        </div>
                        <div class="table-scrollable">
                           <table class="table table-striped table-bordered table-hover dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
                              <thead>
                                 <tr role="row">
                                   <th style='width:7%;' class="text-center" aria-sort="ascending" rowspan="1" colspan="1">
                                       Image
                                    </th>
                                    <th rel="name" class="sorting" tabindex="0"  rowspan="1" colspan="1">
                                       Name
                                    </th>
                                    <th  style='width:7%;' class="text-center" rowspan="1" colspan="1">
                                       Type
                                    </th>
                                    <th rel="sort" class="sorting" style='width:7%;' class="text-center" rowspan="1" colspan="1">
                                       Sort
                                    </th>
                                    <th rel="createdAt" class="sorting_desc" style='width:10%;' class="text-center" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1">
                                       Created At
                                    </th>
                                    <th rel="status" class="sorting" style='width:10%;' class="text-center" rowspan="1" colspan="1">
                                       Status
                                    </th>
                                    <th style='width:7%;' class="text-center" rowspan="1" colspan="1">
                                       Action
                                    </th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr ng-repeat="video in videos" class="gradeX odd" role="row">
                                   <td class="text-center">
                                       <img  ng-src="{{video.thumbs[4] | checkImage}}" alt="{{video.name}}">
                                    </td>

                                    <td >
                                       {{video.name}}
                                    </td>
                                   <td class="text-center">
                                        {{video.type}}
                                    </td >
                                    <td class="text-center">
                                        {{video.sort}}
                                    </td >
                                    <td class="text-center">
                                        {{video.createdAt | date}}
                                    </td>
                                    <td class="text-center">
                                       <span ng-if='video.status=="active"' class="label label-sm label-success">
                                       Active </span>
                                      <span ng-if='video.status=="inactive"' class="label label-sm label-default">
                                       Inactive </span>
                                    </td>
                                    <td class="text-center">
                                      <a style="display:none" ui-sref='videoView({id:video._id})' class="view" title="View">
                                        <i class="icon-eye"></i>
                                      </a>
                                      <a ui-sref='videoEdit({id:video._id})'  class="view" title="Edit">
                                        <i class="icon-pencil"></i>
                                      </a>
                                      <a confirmed-click='delete(video,$index)' ng-confirm-click="Are you sure delete?"  class="view" title="Delete">
                                        <i class="icon-trash"></i>
                                      </a>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                        <div class="row">
                           <div class="col-md-5 col-sm-12">
                              <div  class="dataTables_info" id="sample_1_info" role="status" aria-live="polite">
                                Showing {{totalItemInPage}} to {{totalItems}} of {{totalItems}} items
                              </div>
                           </div>
                           <div class="col-md-7 col-sm-12">
                              <div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate">

                                <div class="paging">
                                  <uib-pagination previous-text="Prev" items-per-page="itemsPerPage" num-pages="noOfPages" ng-change="pageChanged(currentPage)" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination>
                              </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="clearfix">
         </div>
      </div>
   </div>
</div>
<footer></footer>
