{% extends 'layouts/default.html' %}

{% block content %}
<div style="background: #fff; padding: 30px; margin-bottom: 15px; border-right: 2px solid #e7eaee; border-bottom: 3px solid #e7eaee; padding-bottom: 50px">
	<div style="border-bottom: 1px solid #ddd; padding: 20px 0px; padding-top: 0px; margin-bottom: 40px;">
		<img src="http://52.42.142.211/assets/images/logo.png">
	</div>

	<div style="font-size: 17px">
		<h3>Dear <%= user.firstName %> <%= user.lastName %>.</h3>
    <p>We deleted your photo(s)</p>

    <ul style="list-style:none">
      {% for photo in photos %}
      <li>
        <img src="<%= photo.thumbnailUrls.small %>" alt="<%= photo.name %>" />
        <span><%= photo.name %></span>
      </li>
      {% endfor %}
    </ul>


    <p>Your following images have been deleted. If you still need these please upload again.</p>
	</div>
</div>
{% endblock %}